/* all width screen*/
section, footer, header{
	display: block;
}
#carousel{
	padding: 0
}

#carousel li{
	display:none;}

#carousel li.visible{
	display:inline-block;
}

#carousel li{
	height: 120px;
	margin: 0 2px;
    width: 120px;
}

.arrow{
	background:url('../img/arrows.png') no-repeat; 
	width:28px;
	height:28px;
	opacity:0.8;
	text-indent:-999px;
	overflow:hidden;
	cursor:pointer;
	display:none;
	position:absolute;
	left: 75%;
	margin: 50px 0 0 30px;
}

.arrow:hover{
	opacity:1;
}

.arrow.next{	
	margin-left: 30px;
	background-position: top right;
}


/* max-width */
@media screen and (max-width: 421px){
.content_2 #portfolio{
	text-align: center!important;
	width: 250px
}
.content_2 {
	height: 460px
}
.arrow{
	margin: 160px 0 0 -30px!important;
}
.arrow.next{	
	margin-left: -30px!important;
}
}

/* max-width */
@media screen and (max-width: 550px){
.content_2 #portfolio img {
	width: 80%
}
.arrow{
	margin: 40px 0 0 65px;
}
.arrow.next{	
	margin-left: 65px
}
}


/* max-width */
@media screen and (max-width: 650px){
.content_2 #portfolio {
	text-align: left
}
}


/* min-width */
@media screen and (min-width: 870px){
	
#main{
	position:relative;
	margin-bottom: 70px;
}

#carousel.active{
	opacity:1;
}

#carousel li{
	display:none;
	list-style:none;
	width: 150px;
	height:150px;
	margin: -82px 18px 0;	
	position:relative;
	-moz-transition:0.4s all;
	-webkit-transition:0.4s all;
	transition:0.4s all;
}

#carousel li.visible{
	display:inline-block;
}

#carousel li a img{
	border:none;
}

#carousel li img{
	display:block;
	width:auto;
	height:auto;
	max-width:100%;
	max-height:100%;
	position:relative;
	z-index:10;
}

#carousel li:hover{
	height: 190px;
    margin-top: -152px;
    width: 190px;
}

.arrow{
	left: 40%;
	margin: -10px 0 0 -260px;
}

.arrow.next{
	margin-left: 400px;
}

}
